/* style.css */
html {
    scroll-behavior: smooth;
}

/* Ocultar la scrollbar pero permitir scroll */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}